<section class="main-container">
  <div class="content">
    <div><img src="assets/programmer.png" alt="" /></div>
    <div><h2>Zhivko Kocev</h2></div>
    <div><p>I am a computer science student...</p></div>
    <div class="home-socials">
      <a
        href="https://www.linkedin.com/in/zhivko-kocev/"
        target="_blank"
        class="home-social-link"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a
        href="https://github.com/zhivko-kocev"
        target="_blank"
        class="home-social-link"
      >
        <i class="fa-brands fa-github"></i>
      </a>
      <a
        href="https://www.instagram.com/kocew/"
        target="_blank"
        class="home-social-link"
      >
        <i class="fa-brands fa-instagram"></i>
      </a>

      <a
        href="https://www.facebook.com/zike.kocev.5"
        target="_blank"
        class="home-social-link"
      >
        <i class="fa-brands fa-facebook"></i>
      </a>
    </div>
    <div class="hire-div">
      <a href="https://kocew.hashnode.dev/" class="hire" target="_blank"
        >Hire me</a
      >
    </div>
    <div class="see-div"><a href="#about" class="see">See more</a></div>
  </div>
</section>
